<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SocanCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SocanCode.Properties.Settings>
      <setting name="DbType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AccessConn" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlServerConn" serializeAs="String">
        <value>Data Source=127.0.0.1;User ID=sa;Password=;Initial Catalog=;</value>
      </setting>
      <setting name="MySqlConn" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlServerType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Level3Frame" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BeforeNamespace" serializeAs="String">
        <value />
      </setting>
      <setting name="AfterNamespace" serializeAs="String">
        <value />
      </setting>
      <setting name="IsCreateDBUtility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCreateModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCreateIDAL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCreateDAL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CmdType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DALFrame" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IsCreateDALFactory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCreateBL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheFrame" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BLFrame" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsCreateUserControl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ControlsPath" serializeAs="String">
        <value>Controls</value>
      </setting>
      <setting name="IsCreateICacheDependency" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCreateTableCacheDependency" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCreateCacheDependencyFactory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterFieldOnDALAdd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateCodePath" serializeAs="String">
        <value>C:\Socansoft</value>
      </setting>
      <setting name="VSVersion" serializeAs="String">
        <value>2010</value>
      </setting>
      <setting name="PageStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ModelStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DBHelperName" serializeAs="String">
        <value />
      </setting>
    </SocanCode.Properties.Settings>
  </userSettings>
</configuration>